.meter-container{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background: #1a1a1a;
    padding: 10px;
    border-radius: 16px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
}

canvas{
    border-radius: 50%;
}

.panel-row{
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}