.control-button {
    padding: 12px 28px;
    font-size: 16px;
    font-family: sans-serif;
    border-radius: 10px;
    border: 2px solid #111;
    cursor: pointer;
    transition: 0.25s ease-in-out;
    background: #222;
    color: #ccc;
    box-shadow: 
        inset 0 0 6px rgba(0, 0, 0, 0.9),
        0 4px 10px rgba(0,0,0,0.6);
}

.btn-on{
    background: radial-gradient(circle at 30% 30%,
      #4da6ff,
      #004c99 80%);
    color: #fff;
    box-shadow: 
        0 0 10px #4da6ff,
        0 0 20px #4da6ff,
        inset 0 0 6px rgba(255, 255, 255, 0.4);
}

.btn-off{
    background: radial-gradient(circle at 30%,30%,
        #444,
        #111 80%
    );
    color: #BBB;
    box-shadow: 
        inset 0 0 8px rgba(0, 0, 0, 0.95);
}

.control-button:active{
    transform: scale(0.95);
    box-shadow: 
        inset 0 0 8px rgba(0, 0, 0, 1),
        0 0 4px rgba(0, 0, 0, 0.9);
}