.led-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
    font-family: sans-serif;
}

.led{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 2px solid #111;
    background: radial-gradient(circle at 30% 30%,
        #660000 5%,
        #200000 70%);
    box-shadow: 
        inset 0 0 8px rgba(0,0,0,0.9);
    position: relative;
    transition: 0.25s ease-in-out;
}


.led::after{
    content: "";
    position: absolute;
    top:3px;
    left: 3px;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: radial-gradient(
        circle,
        rgba(255,255,255,0.9),
        rgba(255,255,255,0) 70%
        );
    pointer-events: none;
}


.led-on{
    background: radial-gradient(circle at 30% 30%,
    #00ff66,
    #005f20 70%
    );
    box-shadow: 
    0 0 8px #00ff66, 
    0 0 15px #00ff66,
    inset 0 0 6px rgba(255,255,255,0.4);
}


.led-off{
    background: radial-gradient(circle at 30% 30%,
     #330000,
     #0a0000 70%
     );
    box-shadow: 
     inset 0 0 6px rgba(0,0,0,1);
}

.led-label{
    font-size: 14px;
    color: rgba(0,0,0,0.9);
}


.led-row{
    display: flex;
    gap: 30px;
}

.led-group{
    display: flex;
    flex-direction: column;
    align-items: center;
}